{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-4">
            <p style="color: rgb(255, 255, 255); font-size: 4em; font-weight:100;">CLIENTES</p>
        </div>
    </div>

    {% if "ok" in request.GET %}

        <h4 style="color: rgb(255, 255, 255); text-align: center; margin: 5em auto;">Cliente Creado Correctamente</h4>

    {% elif "fail" in request.GET %}

        <h4 style="color: rgb(255, 255, 255); text-align: center; margin: 5em auto;">No pudo crearse el Cliente.</h4>   

    {% else %}
    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-4 justify-content-center" style="border: solid 1.5px; border-radius: 7px; background-color: rgb(255, 255, 255,0.2);">
                <form class="p-3 justify-content-center" action="" method="post">
                    {%csrf_token%}
                    <table class="col-12 form-table">{{miFormulario.as_table}}</table>
                    <br>
                    <input type="submit" value="Enviar" class="btn btn-warning">
                </form>    
            </div>
        </div>
    </div>

    {% endif %}

{% endblock %}